.sign-up{
  $self : &;
  text-align: center;
  background: #f0f0f0;
  padding: 50px;
  &__content{
    width: 30%;
    margin: 0 auto;
    #{$self}__form{
        position: relative;
        button{
          font-size: 30px;
          background: transparent;
          border: none;
          position: absolute;
          left: calc(100% - 10px);
          bottom: 5px;
          color: #626262;
          outline: none;
        }
    }
  }

}