.small_post
{
  flex-basis: 45%;
  margin-bottom: 80px;
  .post{
    &__image{
      margin-bottom: 25px;
      img{
        width: 100%;
      }
    }
    &__delete{
      text-align: right;
      a{
        text-decoration: none;
        color: #626262;
      }
    }
  }
}

